@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .courses-item i {
    font-size: 12px;
  }
  .courses-item h3 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
  .testimonial-img {
    width: 50%;
  }
  .banner-item h5 {
    font-size: 15px;
  }
  .banner-item h1 {
    font-size: 42px;
  }
  .banner-item p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 424px) {
  .courses-item i {
    font-size: 12px;
  }
  .courses-item h3 {
    font-size: 12px;
  }
}
