/* font link  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto&display=swap");

/* header start  */
.header-section {
  background: #f0fff0;
  height: 100vh;
}
.banner-img {
  width: 200px;
}
.header-section ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.header-section ul li .menu:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000000;
  font-weight: bold;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-duration: 0.2s;
}
.btn-style {
  background: #21b573;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.btn-style:hover {
  background: #2ed188;
}
.btn-style1 {
  background: #21b573;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.btn-style1:hover {
  background: #2ed188;
  color: #fff;
}
.banner-item {
  height: 80vh;
}
.banner-item h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fd511a;
}
.banner-item h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 70px;
  color: #000000;
}
.banner-item h1 span {
  color: #21b573;
}
.banner-item p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  color: #6c6b6b;
}
/* book section start  */
.book-img {
  width: 35%;
  margin: auto;
}
.books-item {
  text-align: center;
  background: #f8fffb;
  border-radius: 10px;
  padding: 30px 0;
  height: 100%;
  transition-duration: 0.5s;
}
.books-item:hover {
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  transition-duration: 0.5s;
}
.books-item h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #413960;
  padding-top: 10px;
}
.books-item p {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #585859;
}
/* course section start  */
.course-section h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #413960;
}
.course-section h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #413960;
  padding-top: 10px;
}

.course-section p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #585859;
}
.courses-item {
  padding: 15px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  transition-duration: 0.3s;
}
.courses-item:hover {
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  transition-duration: 0.3s;
}
.courses-item i {
  color: #585859;
  font-size: 16px;
}
.courses-item h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #585859;
  margin: 0;
}
/* testimonial section start  */
.testimonial-section h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}
.testimonial-section p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}
.testimonial-img {
  width: 70%;
}
/* footer start  */
.footer-section {
  background: #282531;
  color: #fff;
  padding-top: 55px;
  padding-bottom: 27px;
}
.footer-section p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.footer-section ul {
  list-style: none;
}
.footer-section ul li h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}
.footer-section ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.footer-section ul li a:hover {
  color: #18a0fb;
}
